
.tab-contain{
  overflow-x: auto;
}
table {
  display: block;
  width: 100%;
  border-collapse: collapse; 
  padding: 10px;
  min-width: 500px;
}
th, td{
  width: 21%;
  padding: 8px;
  text-align: center; 
}
thead{
  width: 100%;
}
tbody{
  width: 100%;
}
tr {
  width: 100%;
}

.input-USD-amount{
  width: 50%;
}

.btn-export{
  color: white;
  border-radius: 50px;
  padding: 3px 30px;
  width: 30%;
}
.btn-pdf{
  background-color: rgb(247, 83, 83);
}
.btn-csv{
  background-color: rgb(44, 156, 57);
}
.btn-json{
  background-color: rgb(121, 89, 227);
}
.btn-pdf:hover{
  background-color: rgb(187, 52, 52);
}
.btn-csv:hover{
  background-color: rgb(23, 109, 33);
}
.btn-json:hover{
  background-color: rgb(73, 49, 153);
}

.btn:hover {
  color: white;
}

.tab-contain {
  background-color: white;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05), 0 5px 15px 0 rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  overflow-x: auto;
}

@media (max-width: 768px) {
  .input-USD-amount{
    width: 100% !important;
  }
  .btn-export{
    align-content: initial;
  }
}

